.about {
    position: relative;
/* 
    &::after {
        content: "";
        position: absolute;
        width: 0;
        top: 99.8%;
        height: 0;
        border-left: 75vw solid transparent;
        border-right: 24vw solid transparent;
        border-top: 10vh solid #07001e;
        z-index: -50;
    } */
}

.about__container {
    display: flex;
}