.hero__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0 20px;
    position: relative;
}

.hero__bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    @include tablets {
        display: none;
    }
}

.scroll-down-btn {
    margin-right: 15px;
    color: $text-color;
}

.scroll__icon {
    width: 13px;
    height: 13px;
    fill: $text-color;
}