.menu__list {
    display: flex;
    justify-content: center;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.menu__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}