.works-preview__btns {
    position: absolute;
    left: 100%;
    bottom: 20%;
}

.square-btns {
    display: flex;
    flex-direction: column;
}

.square-btns__item {
    width: 53px;
    height: 53px;
    background: #333C49;
}

.square-btn__logo--next, .square-btn__logo--prev {
    fill: #717883;
    width: 10px;
    height: 17px;
}

.square-btn__logo--prev {
    transform: rotate(180deg);
}