.tags {
    display: flex;
    margin-bottom: 35px;
}

.tags__item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(16, 0, 34, 0.5);
    padding: 14px 22px;
    background: #F3F6F9;
    border-radius: 40px;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}