.thumbs {
    position: relative;
    display: flex;
}
.thumbs__item {
    height: 100px;

    &:hover {
        outline: 2px solid #dc9322;
        z-index: 100;
    }
}

.thumbs__item.active {
    outline: 2px solid #dc9322;
    z-index: 100;
}