.triangles {
    display: flex;
    height: 100px;
}

.triangles__shape {
    width: 50%;
    fill: #fff;
    height: 100%;
}

.triangles__shape--position--left {
    flex: 4;
}

.triangles__shape--position--right {
    flex: 1;
}