.userinfo {
    display: flex;
    justify-content: center;
}

.userinfo__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    margin-right: 56px;
    color: rgba(255, 255, 255, 0.5);
}

.userinfo__name {
    flex-basis: 400px;
    font-weight: 800;
    font-size: 72px;
    line-height: 0.8;
}