.works__content {
  padding-bottom: 210px;
  @include phones {
    padding-bottom: 0px;
  }
}

.works__container {
  @include phones {
    width: 100%;
  }
}

.works__section-title {
  font-weight: bold;
  font-size: 36px;
  color: #222427;
  margin-bottom: 83px;

  @include phones {
    text-align: center;
    margin-bottom: 30px;
  }
}