.skill-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}

.title {
    color: #373E42;
    width: 43%;
}

.percent {
    color: #414C63;
    margin-left: auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45px;
    margin-left: 50px;
}