script(type="text/x-template")#hamburger-container
    .hamburger__menu
        openBtn(@openHam="openHam")
        overlay(:class="{active: isHam}" @closeHam="closeHam")



script(type="text/x-template")#hamburger-open
    .hamburger__open
        input.hambuger__input(type="checkbox")#hambuger__toggle
        label.hamburger__open-btn(
            @click="$emit('openHam', $event)"
            for="hambuger__toggle"
        )
            span.hamburger__open-span



script(type="text/x-template")#hamburger-overlay
    .hamburger__overlay
        closeBtn(@closeHam="$emit('closeHam', $event)")
        .hamburger__content
            hamContent

script(type="text/x-template")#hamburger-close
    .hamburger__close
        input.hambuger__input(type="checkbox")#hambuger__toggle-close
        label.hamburger__close-btn(
            @click="$emit('closeHam', $event)"
            for="hambuger__toggle-close"
            )
                span.hamburger__close-span



script(type="text/x-template")#hamburger-content
    nav.menu
        - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"];
        ul.menu__list.menu__list--hamburger
            each item in menuItems
                li.menu__item--hamburger
                    a(href="#").menu__link--hamburger #{item}
        .hamburger__content-socials
            - var socials = ["insta", "vk", "github", "envelope"];
            ul.socials.socials--hamburger
                each item in socials
                    li.socials__item
                        a(href="#").socials__link
                            +icon(item, "socials__icon--hamburger")