script(type="text/x-template")#slider-container
    .works-slider
        .works-slider__pics(:data-slide="currentIndex + 1")
            display(
                :currentWork="currentWork",
                :works ="works",
                :currentIndex="currentIndex",
                @slide="slide",
                @btnImage="handleBtnImage"
            )
        info(
            :currentWork="currentWork"
        )

script(type="text/x-template")#slider-display
    .works-slider__pics-content
        img(:src="currentWork.photo").works-slider__fullpic
        thumbs(
            :works="slicedWorks"
            :currentWork="currentWork"
            @btnImage="$emit('btnImage', $event)"
        )
        btns(
            :currentWork="currentWork",
            :currentIndex="currentIndex",
            :works="works"
            @slide="$emit('slide', $event)"
        )

script(type="text/x-template")#slider-thumbs
    ul.works-slider__thumbs
        li.works-slider__thumb-item(
            v-for="slide in works" :key="slide.id"
            :class="{active: currentWork.id === slide.id}"
            )
            button(@click.prevent="$emit('btnImage', slide.id)" type="button").works-slider__thumb-link
                img(:src="slide.photo").works-slider__thumb

script(type="text/x-template")#slider-btns
    .works-slider__buttons
        button(
            @click.prevent="$emit('slide','next',)" :class="{disabled: currentIndex === works.length - 1}"
        ).works-slider__btn.works-slider__btn_next
        button(
            @click.prevent="$emit('slide','prev')" :class="{disabled: currentIndex === 0}"
        ).works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-data
    .works-slider__data
        tags(
            :tags="tagsArray"
        )
        .works-slider__title {{currentWork.title}}
        .works-slider__desc
            p {{currentWork.desc}}
        .works-slider__link 
            a(:href="currentWork.link").iconed-link Посмотреть сайт

script(type="text/x-template")#slider-tags
    ul.works-slider__tags
        li.works-slider__tag-item(v-for="tag in tags")
            .tag {{tag}}