include ./mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio | main page
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <link rel="stylesheet" href="/node_modules/flickity/css/flickity.css" media="screen">
    body
        .wrapper
            .maincontent
              block content

        include ./templates/entry.pug

        script(src="/node_modules/flickity/dist/flickity.pkgd.min.js")