.avatar-component {
  display: flex;
  align-items: center;
}

.image {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.username {
  font-size: 18px;
}